/* components/Logout.module.css */

.logoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logoutButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #e60000;
}

.error {
  color: red;
  margin-top: 10px;
}
