.filterContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filterButton {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.categoriesContainer {
  background-color: white;
  padding: 15px;
  width: 90%;
}

.categoriesContainer h3 {
  margin-top: 0;
}

.categoriesContainer ul {
  list-style: none;
  padding-left: 0;
}

.categoriesContainer li {
  padding: 5px 0;
}
