/* components/Signup.module.css */
.formContainer {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
}

.title {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}
.subtit {
  margin-bottom: 20px;
  color: #666;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button {
  background-color: #1877f2;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

.button:hover {
  background-color: #165eab;
}

.error {
  color: red;
  text-align: center;
}

.errorMessage {
  color: red;
  margin-top: 0.25rem;
}

.link {
  text-align: center;
  margin-top: 1rem;
}

.link a {
  color: #1877f2;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}
